.reservation {
  display: grid;
  row-gap: 18px;

  margin: 0;
  padding: 1.5rem 2rem;

  border-radius: 22px;

  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.reservation .main-container {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 20px;
}

.reservation .label-container {
}

.reservation .data-container {
}

.reservation .status-container {
  align-self: center;
}

.reservation .button-container {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  column-gap: 15px;
}

/* single elements */
.reservation h1 {
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 24px;
}

.reservation p {
  margin: 0;
  padding: 0;

  font-size: 20px;
}

.reservation a {
  margin: 0;
  padding: 8px 1em;

  border: none;
  outline: none;

  color: white;
  font-size: 20px;
  background: #116acc;
  border-radius: 7px;
  text-align: center;

  transition: 300ms;
}

.reservation a:hover {
  text-decoration: none;
  background: #116bcce0;

  transition: 300ms;
}

.reservation button {
  margin: 0;
  padding: 6px 1em;

  border: none;
  outline: none;

  color: white;
  font-size: 20px;
  background: #fd4e5d;
  border-radius: 7px;

  transition: 300ms;
}

.reservation button:hover {
  text-decoration: none;
  background: #ff6875;

  transition: 300ms;
}

@media only screen and (max-width: 768px) {
  .reservation a {
    font-size: 14px;
  }

  .reservation .button-container {
    grid-template-columns: auto auto auto;
    column-gap: 8px;
  }

  .reservation button {
    font-size: 14px;
  }

  .reservation h1 {
    font-size: 16px;
  }

  .reservation p {
    font-size: 14px;
  }
}
