.table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  padding: 1.5rem 2rem;
}

.table .table-data {
  display: flex;
  flex-direction: column;
  row-gap: 0.75em;
}

.table .availability {
  display: flex;
  align-items: center;
}

.table .availability p {
  margin: 0px;
  margin-left: 0.5em;
}

.table .status {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.table .occupied {
  background-color: #ba0000;
}

.table .free {
  background-color: #76ca66;
}

.table h1 {
  margin: 0;
  font-weight: normal;
  font-size: 24px;
}

.table p {
  margin: 0px;
  font-size: 20px;
}

.table button {
  border: none;
  outline: none;

  color: white;
  font-size: 20px;
  padding: 7px 24px;
  background: #116acc;
  border-radius: 7px;

  transition: 300ms;
}

.table button:hover {
  text-decoration: none;
  background: #116bcce0;

  transition: 300ms;
}

@media only screen and (max-width: 768px) {
  .table button {
    font-size: 14px;
  }

  .table h1 {
    font-size: 16px;
  }

  .table p {
    font-size: 14px;
  }
}
