.tables-container {
  display: grid;
  margin: 24px 0px;

  grid-template-columns: repeat(auto-fit, auto);
  column-gap: 24px;
  row-gap: 15px;
}

.reservations-container {
  display: grid;
  grid-template-columns: 1;
  row-gap: 25px;
  margin: 25px 0px;
}
